<app-header></app-header>

<div class="container-fluid">
  <div class="row">
      <div class="col-md-12"><h4 class="card-title">Fields</h4></div>
        <div class="col-md-6">
          <div #map id="map"></div>
        </div>
        <div class="nabin"></div>

        <div class="col-md-6">
          <div #map_sec id="map_sec"></div>
        </div>

    
  </div>
</div>

<div class="text-center">
  <button class="btn btn-primary btn-sx" (click)="add_comparison_modal_open()" type="button">Choose Fields</button>
</div>



<!-- Modal for add fields -->
<div class="modal fade" id="add_comparison_modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" data-backdrop="false" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header text-center">
        <h5 class="modal-titlee text-center" id="exampleModalCenterTitle">Choose Field</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
      </div>
      <div *ngFor="let comField of all_com_fields" class="col-md-4">
        <div class="custom-control custom-checkbox">
            
          <!-- <input type="checkbox" [(ngModel)]="comField.checked" [value]="comField.f_id" id="customCheck" name="example1">{{comField.f_title}} -->
             
          <input type="checkbox" value="{{comField.f_id}}" name="{{comField.f_id}}" (change) ="updateSelectedTimeslots($event)" />{{comField.f_title}}
        </div>
      </div>

      <div class="modal-body text-center">
          
        
        <br />
        <div class="text-center">
            
            <button (click)="startComparisonBtn()" class="btn btn-ada btn-lg" type="button"> Start Comparison</button>
            
        </div>

      </div>
    </div>
  </div>
</div>

<!-- Spinner -->
<ngx-spinner
bdColor="rgba(51,51,51,0.8)"
size="medium"
color="#fff"
fullScreen="true"
type="ball-scale-multiple">
<p style="font-size: 20px; color: white">Loading... Please wait...</p>
</ngx-spinner>
