#map {
    height: 100vh;
   /*border-radius: 10px; */
    margin-left:-20px;
    margin-right:-20px;
}

#map_sec {
    height: 100vh;
   /*border-radius: 10px; */
    margin-left:-20px;
    margin-right:-20px;
}